
article {
  height: 9.3rem;
}

main > div {
  margin: 0;
  height: 100%;
  width: 100%;
}

.right-panel {
  width: 100% !important;
}

.form {
  height: 100%;
  width: 100%;
}  

.fields-div {
  width: 90%;
}

/*------------------------------*/

.table-data {
  width: max-content !important;
  min-width: 100%;
}

.micro-btn {
  --bs-btn-padding-y: 0 !important; 
  --bs-btn-padding-x: 0 !important; 
  --bs-btn-font-size: .75rem;
}

.micro-th {
  width: 40px;
  padding: 0.2rem !important;
}

@media screen and (min-width: 992px) {
  
  .form-div {
    width: 100% !important;
  }
  
  label {
    text-align: end;
    padding-right: 15px;
  }
  
  .title {
    width: 70%;
    margin: auto;
  }  

  .form {
    width: auto;
    min-width: 70%;
    margin: auto;
  }  

}
