
html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
}

.navbar {
  background-color: rgb(234, 102, 102) !important;
  font-size: 1.2em
}
    
footer {
  position: relative;
  width: 100%;
  margin-top: auto;
  display: block;
  background-color: rgb(234, 102, 102);
}

#compte-rebours {
  display: none;
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: 10;
  height: 60px
}

.unity-rebours {
  border: solid white 1px;
  background-color: rgb(234, 102, 102);
  color: white;
  height: 120px;
  width: 60px;
  text-align: center;
  font-size: 30px;
  padding: 3px;
  user-select: none;
  overflow-y: hidden;
}

.unity {
  font-size: 10px;
}

.logo {
  width: 70px;
}

form a {
  font-size: 0.8em !important;
}

@media screen and (min-width: 991px) {

  
}