
body {
  height: 100vh;
}

.screen-background {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -3;
  overflow-y: auto;
  /* filter: opacity(30%); */
  width: auto;
  height: 100vh;
}

.mask-screen-background {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6), transparent); */
} 

main p {
  text-align: justify;
  
}

.div-gifts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.gift {
  width: 33%;
}

.gift img {
  width: 100%;
}

.img-card {
  height: 80px;
}

@media screen and (min-aspect-ratio: 1600/1044) {

  .screen-background {
    width: 100vw;
    height: auto;
  }

  .mask-screen-background {
    width: 100vw;
    height: 100%;
  }

}