
html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  overflow-y: auto;
}

article {
  height: 9.3rem;
}

main > div {
  margin: 0;
  height: 100%;
  width: 100%;
}

.right-panel {
  width: 100% !important;
}

.form {
  height: 100%;
  width: 100%;
}  

.fields-div {
  width: 90%;
}

footer {
  position: relative;
  width: 100%;
  margin-top: auto;
  display: block;
}

/*------------------------------*/

.table-data {
  width: max-content !important;
  min-width: 100%;
}

.micro-btn {
  --bs-btn-padding-y: 0 !important; 
  --bs-btn-padding-x: 0 !important; 
  --bs-btn-font-size: .75rem;
}

.micro-th {
  width: 40px;
  padding: 0.2rem !important;
}

/*------------------------------*/

.main-mission {
  margin-right: 0;
  margin-left: 0;
}

td .firstname {
  width: 20%;
}

td .lastname {
  width: 20%;
}

td .birthdate {
  width: 20%;
}

td .identificationCode {
  width: 20%;
}

td .country {
  width: 20%;
}

td .code {
  width: 20%;
}

td .address {
  width: 20%;
}

td .type {
  width: 40%;
}

.form-mission {
  width: 100%;
}

@media screen and (min-width: 992px) {
  
  .form-div {
    width: 100% !important;
  }
  
  label {
    text-align: end;
    padding-right: 15px;
  }
  
  .title {
    width: 70%;
    margin: auto;
  }  

  .form {
    width: auto;
    min-width: 70%;
    margin: auto;
  }  

  .form-mission {
    width: 75%;
  }
  
}
